:root {
  --primary-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  --view-bg: hsla(178, 100%, 50%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --card-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --font-size: 18px;
  --font-family: "Outfit", sans-serif;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--main-bg);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--white);
}

.wrapper {
  max-width: 375px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.65rem;
}

.card {
  background: var(--card-bg);
  border-radius: 1rem;
  padding: 1.5rem;
}

.card-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  max-height: 280px;
}

.card-img > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.card-img:hover > .img-view {
  opacity: 100%;
}

.img-view {
  width: 100%;
  height: 100%;
  background: var(--view-bg);
  opacity: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.card-body > h1 {
  font-size: 21px;
  margin: 1.25rem 0 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.card-body > h1:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}

.card-body > p {
  color: var(--primary-blue);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 15px;
}

.details-icon {
  display: flex;
  items-align: center;
  gap: 0.5rem;
}

.eth {
  color: var(--primary-cyan);
  font-weight: 600;
}

.days {
  color: var(--primary-blue);
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid var(--card-line);
  padding-top: 1rem;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-blue);
}

.card-footer > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.card-footer span {
  color: var(--white);
  transition: all 0.3s ease;
}

.card-footer span:hover {
  color: var(--primary-cyan);
  cursor: pointer;
}

.attribution {
  position: fixed;
  width: 100%;
  bottom: 1rem;
  text-align: center;
  font-size: 12px;
}

.attribution > a {
  color: var(--primary-cyan);
  text-decoration: none;
}

.attribution > a:hover {
  color: var(--primary-blue);
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 1rem;
  }
  .card-img {
    height: 304px;
  }
  .card-img > img {
    height: 100%;
  }
  .card-body > p {
    font-size: 18px;
  }
  .details {
    margin: 20px 0;
  }
  .card-footer {
    padding-bottom: 15px;
  }
}
